<h3>Create an Account.</h3>
<form (ngSubmit)="onSubmit()" class="ui form" [formGroup]="authForm">
    <app-input type="text" placeholder="Username" label="Username" [control]="$any(authForm.get('username'))"></app-input>
    <app-input type="password" placeholder="Password" label="Password" [control]="$any(authForm.get('password'))"></app-input>
    <app-input type="password" placeholder="Password Confirmation" label="Password Confirmation" [control]="$any(authForm.get('passwordConfirmation'))"></app-input>

    <div *ngIf="authForm.get('password')?.touched && authForm.get('passwordConfirmation')?.touched && authForm.errors" class="ui red basic label">
        <p *ngIf="authForm.errors?.['passwordDontMatch']">The password you have entered does not match. Try again.</p>
        <p *ngIf="authForm.errors?.['noConnection']">We cannot submit due to your internet bandwith being weak. Please try again.</p>
        <p *ngIf="authForm.errors?.['unknownError']">Unknown Error. Please try again.</p>
    </div>
    <div>
        <button [disabled]="!authForm.valid" class="ui submit button primary">Submit.</button>
    </div>
</form>